<div class="backdrop">
    <div class="modal-window">
        <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}">
        <div class="modal__wraper">
            <h2 class="modal__title">{{title}}</h2>
            <ul class="modal__list">
                <li class="modal__item">
                    <i class="modal__text">Vote / Votes</i>
                    <span class="modal__rating">{{vote_average}}</span> / {{vote_count}}
                </li>
                <li class="modal__item">
                    <i class="modal__text">Popularity</i>
                    {{popularity}}
                </li>
                <li class="modal__item">
                    <i class="modal__text">Original Title</i>
                    {{original_title}}
                </li>
                <li class="modal__item">
                    <i class="modal__text">Genre</i>
                    {{genre_ids}}
                </li>
            </ul>
            <h3 class="modal__item">About</h3>
            <p class="modal__item">{{overview}}</p>
            <button class="modal__button" id="watched" type="button">add to Watched</button>
            <button class="modal__button" id="queue" type="button">add to queue</button>
        </div>
        <button type="button">X</button>
    </div>
</div>